<div class="app">
  <h1 class="app-heading">Template Driven Form</h1>
  <p class="app-text">
    Template-driven form the logic of creating forms and validations are handled
    in HTML template.template-driven form validation is handled by directives.
    We should use template-driven form where small form is needed and no
    boilerplate code of logic is required. Angular provides
    <strong><em>ngForm</em></strong> and
    <strong><em>ngModel</em></strong> directive to create template-driven form.
    Here on this page we will create a template-driven form with text box,
    single select and multiple select option, radio button and checkbox.
  </p>
  <app-form></app-form>
</div>
