<form
  class="form-control-method"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm)"
  novalidate
>
  <h1>Form Control Method</h1>
  <div class="form-control">
    <label>Username</label>
    <input
      type="text"
      name="username"
      placeholder="Type your name"
      formControlName="username"
      required
    />
  </div>
  <div class="form-control">
    <label>Email</label>
    <input
      type="email"
      name="email"
      placeholder="Type your email"
      formControlName="email"
    />
  </div>
  <div class="form-control">
    <label>Password</label>
    <input
      type="password"
      name="password"
      placeholder="Type your password"
      formControlName="password"
      required
    />
    <label for="error" *ngIf="!myForm.value.password">Error</label>
  </div>
  <div class="form-control" id="default-checkbox">
    <input type="checkbox" name="default" />
    <label>Set Default Value</label>
  </div>
  <div class="form-control">
    <input type="submit" name="submit-btn" value="Submit" />
  </div>
</form>
